{{#if addNewAnswer}}
<div class="answ">
  <form>
    <div class="form-group">
      <label for="content">answer</label>
      {{input class="form-control"  value=content id='content'}}
    </div>
    <div class="form-group">
      <label for="author">author</label>
     {{input class="form-control" value=author id='author'}}
<button class="btn" {{action 'saveAnswer'}}>done</button>
    </div>
  </form>
</div>


{{else}}

<button  name="button" {{action 'answerFormShow'}}>new Answer</button>
{{/if}}
