<div class="container">
  <div class="jumbotron">
<h1>uliza forum</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Top Stories</h3>
      ccccc
      {{#each model.posts as |post|}}
        {{post-tile post=post upate="update" destroyPost="destroyPost"}}
      {{/each}}


      ccccc
      <ul>
        {{#each model.answers as |answer|}}
        <li>{{answer.content}} by {{answer.author}}</li>
        {{/each}}
      </ul>

      {{new-answer saveAnswer='saveAnswer'}}
    </div>
    <div class="col-md-3">
      <button type="button" class="btn" name="button">Ask Question ?``</button>
<div class="top">
  {{new-post savePost='savePost'}}

</div>
    </div>
  </div>
</div>
